
#containerd {
    width: 300px;
    height: 60px;
    overflow: hidden;
}


.h2-eyson {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 44px;
    color: white;
    letter-spacing: -2px;
}

.block-04-header-container {
    height: 150px;
    /*background: #9fcdff;*/
}

.block-04-body-container {
    /*height: 300px;*/
    overflow: hidden;
    /*background: blueviolet;*/
}

/*.items-container {*/
/*    white-space: nowrap;*/
/*    overflow-x: scroll;*/
/*    overflow-y: hidden;*/
/*    -webkit-overflow-scrolling: touch;*/
/*}*/

/*.scroll-item {*/
/*    display: inline-block;*/
/*    margin: 0 35px 0 0;*/
/*}*/

.block-04-body-left {
    width: auto;
    height: 150px;
    /*background: rebeccapurple;*/
}

.block-04-body-right {
    /*background: violet;*/
}

.intro-container {
    /*background: #71dd8a;*/
    padding: 0 0 20px 0;
}

.intro-container p {
    color: rgba(255, 255, 255, 1.0);
    margin: 0 40px 0 0;
}

.buttons-container-block-04 {
    margin: 0;
    /*background: #80bdff;*/
}

.exp-ico-finance {
    -webkit-mask-image: url(ui-kit/images/ico-wallet-money.svg);
    mask-image: url(ui-kit/images/ico-wallet-money.svg);
}

.exp-ico-industrial {
    -webkit-mask-image: url(ui-kit/images/ico-industrial.svg);
    mask-image: url(ui-kit/images/ico-industrial.svg);
}

.exp-ico-retail {
    -webkit-mask-image: url(ui-kit/images/ico-shop-cart.svg);
    mask-image: url(ui-kit/images/ico-shop-cart.svg);
}

.exp-ico-telecomunication {
    -webkit-mask-image: url(ui-kit/images/ico-telecomunication.svg);
    mask-image: url(ui-kit/images/ico-telecomunication.svg);
}

.exp-ico-gov {
    -webkit-mask-image: url(ui-kit/images/ico-gov.svg);
    mask-image: url(ui-kit/images/ico-gov.svg);
}
