#containerd {
    width: 300px;
    height: 60px;
    overflow: hidden;
}

.h2-eyson {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 44px;
    color: white;
    letter-spacing: -2px;
}

.block-05-header-container {
    /*background: #9fcdff;*/
}

.block-05-header-spacer {
    height: 50px;
}

.block-05-body-container {
    overflow: hidden;
    /*background: blueviolet;*/
}

.block-05-body-left {
}

.block-05-body-right {
    padding-right: 0;
}
.block-05-body-right textarea {
    height: 133px;
    /*background: violet;*/
}

.buttons-container-block-05 {
    margin: 45px 0 0 0;
    /*background: #80bdff;*/
}

.block-05-footer {
    height: 177px;
}

.eyson-input {
    border: 0;
    height: 60px;
    width: 100%;
    margin: 0 0 13px 0;
    background: rgba(255, 255, 255, 0.1);
    resize: none;
}

::placeholder,
::-webkit-input-placeholder {
    color: white;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    vertical-align: text-top;
    color: rgba(255, 255, 255, 0.5);
    padding: 8px 0 0 20px;

}

textarea {
    resize: none;
}