@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

#containerd {
    width: 300px;
    height: 60px;
    overflow: hidden;
}

.h2-eyson {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 44px;
    color: white;
    letter-spacing: -2px;
}

.block-05-header-container {
    /*height: 150px;*/
    /*background: #9fcdff;*/
}

.block-05-body-container {
    overflow: hidden;
    /*background: blueviolet;*/
}

.block-05-body-left {
    /*height: 150px;*/
}

.block-05-body-right {}
.block-05-body-right textarea {
    height: 133px;
    /*background: violet;*/
}

.buttons-container-block-05 {
    margin: 0;
    /*background: #80bdff;*/
}


.eyson-input {
    border: 0;
    height: 60px;
    /*width: calc(100% - 32px);*/
    /*margin: 0 32px 13px 0;*/
    width: 100%;
    margin: 0 0 13px 0;
    background: rgba(255, 255, 255, 0.1);
    resize: none;
}

::placeholder,
::-webkit-input-placeholder {
    color: white;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    vertical-align: text-top;
    color: rgba(255, 255, 255, 0.5);

}

textarea {
    resize: none;
}