
.h1-eyson {
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 66px;
    color: white;
    letter-spacing: -2px;
}

.block-01-header-container {
    /*height: 480px;*/
    margin: 160px 0 200px 0;
}

.block-01-body-empty {
    /*background: darkorange;*/
}

.block-01-body-content {
    /*margin: 0;*/
    padding: 0;
    margin: 0 0 300px 0;
    /*height: 350px;*/
    /*background: #bd2130;*/
}

.block-01-body-content p {
    color: white;
    font-size: 22px;
}

.block-01-arrow-word-container {
    transform: translate(180px, 100px);
}
