@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.bblack {
    background: black;
    padding: 0;
    margin: 0;
}

.h2-eyson {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 44px;
    color: white;
    letter-spacing: -2px;
}

.block-02-header-container {
    height: 150px;
    background: #9fcdff;
}

.block-02-body-container {
    background: #9fcdff;
}

.block-02-body-left {
    background: #9fcdff;
}
.block-02-body-left p {
}

.block-02-body-mid {
    background: #9fcdff;
}

.block-02-body-right {
    background: #9fcdff;
}