
#containerd {
    width: 300px;
    height: 60px;
    overflow: hidden;
}

.block-03-header-container {
    height: 150px;
    /*background: #9fcdff;*/
}

.block-03-body-container {
    height: 300px;
    overflow: hidden;
    /*background: blueviolet;*/
}
/*.items-container {*/
/*    white-space: nowrap;*/
/*    overflow-x: scroll;*/
/*    overflow-y: hidden;*/
/*    -webkit-overflow-scrolling: touch;*/
/*}*/

/*.scroll-item {*/
/*    display: inline-block;*/
/*    margin: 0 35px 0 0;*/
/*}*/