.eyson-header-block {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 64px;
    /*background: blueviolet;*/
}

.phone-number {
    font-size: 14px;
    font-weight: 100;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin: 0 10px 0 10px;
}

.buttons-container {
    margin: 0 0 0 10px;
}

.buttons-container .ghost {
    padding: 3px 25px 3px 25px;
}

.telegram-logo-container {
    margin: 0 10px 0 10px;
}