
.arrow-word-block {
    /*margin: 0 0 25px 0;*/
    display: flex;
    /*background: gray;*/
    width: 400px;
    /*transform: rotate(-90deg);*/
    transform: rotate(-90deg) translate(-100%);
    transform-origin: top left;
}

.arrow-for-word {
    width: 26px;
    height: 23px;

    background: linear-gradient(45deg, #4B0ADF 0%, #8F2FCA 100%);

    -webkit-mask-image: url(images/arrow.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;

    mask-image: url(images/arrow.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transform: rotate(180deg);
    /*transition: transform .5s;*/
    /*display: none;*/
}

.word-block {
    display: flex;
    margin: 0 0 0 16px;
    flex-direction: column;
    justify-content: center;
}

.word-block p {
    margin: 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    /*text-align: center;*/

    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3em;
    text-align: left;
}