.ghost-exp {
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    /*   padding: 10px 20px; */
    width: 360px;
    height: 187px;
    padding: 0;
    /*padding: 0 10px 0 0;*/
    white-space: pre-wrap;

    position: relative;
}

.ghost-exp-number {
    font-size: 55px;
    font-weight: 800;
    line-height: 120%;
    font-family: 'Gilroy-Bold', sans-serif;

    position: absolute;
    top: 19px;
    right: 24px;
    margin: 0;

    color: rgba(27, 18, 43, 0.4);

    letter-spacing: 2px;
}

.ghost-exp-header {
    position: absolute;
    top: 25px;
    left: 24px;
    margin: 0;
}

.ghost-exp-text {
    font-size: 16px;
    font-family: 'Gilroy-Light', sans-serif;
    font-weight: 400;
    line-height: 140%;

    font-stretch: expanded;
    color: rgba(255, 255, 255, 0.6);
}
.ghost-exp-text-container {
    width: 280px;

    position: absolute;
    bottom: 26px;
    left: 24px;
    margin: 0;
}
