@import "fonts.css";

body {
    padding: 0;
    margin: 0;
    background: #110B1B;
    color: white;
    z-index: -100;
    font-family: 'Open Sans', sans-serif;

    /* For footer background */
    height: 100%;
    position: relative;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
}

.opensans {
    font-family: "Open Sans", sans-serif;
}

.gilroy {
    font-family: 'Gilroy-Regular', sans-serif;
    font-stretch: expanded;
    line-height: 140%;
}

.font-size-18 {
    font-size: 18px;
}

.gilroy-semibold {
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-stretch: expanded;
    font-weight: 600;
    /*font-style: oblique;*/
    line-height: 140%;
}

.eyson-header {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: white;
}

.h2-eyson {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 44px;
    color: white;
    letter-spacing: -2px;
}

.bblack {
    /*background: black;*/
    padding: 0;
    margin: 0;
}

.eyson-text {
    color: rgba(255, 255, 255, 0.6);
    margin: 0;

}

.eyson-text-h3 {
    font-size: 16px;
    font-weight: 400;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.items-container {
    padding: 60px 0 60px 0;
    /*background: #c69500;*/

    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.items-container::-webkit-scrollbar {
    display: none;
}

.scroll-item {
    display: inline-block;
    margin: 0 35px 0 0;
}
